@import "./another_style/index";

.main-container {
  background-color: aquamarine;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;

  .container {
    .heading {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: bold;
      font-size: 40px;
      margin: 40px 0;
      text-shadow: 2px 3px 4px tomato;
    }
    .input-container {
      margin: 25px 0;
      input {
        padding: 9px 0;
        border: 2px solid orange;
        border-radius: 4px;
        background-color: #ffffff;
        font-size: 17px;
      }
      button {
        background-color: tomato;
        color: #ffffff;
        margin-left: 10px;
        padding: 9px 15px;
        border: 2px solid #ffff;
        font-size: 18px;
        border-radius: 4px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        cursor: pointer;
        transition: all 0.4s;
      }
      button:hover {
        background-color: orangered;
        color: #ffffff;
      }
    }
    .myBtn {
      background-color: tomato;
      color: #ffffff;
      padding: 12px 22px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 20px;
      border: 2px solid #ffff;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.4s;
    }
    .myBtn:hover {
      background-color: orangered;
    }
  }
}
